html {scroll-behavior: smooth;}

.title-home {
    font-size: 2.3em;
    color: #3e4f1a;
    padding: 20px;
}

.home {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    text-align: center;
}
.home1 {
    background-image: url('../assets/img/home-wpp.png');
}
.home2 {
    background-image: url('../assets/img/home-wpp2.png');
}
.home3 {
    background-image: url('../assets/img/home-wpp3.png');
}

.arrow-home{
    padding-top: 20px;
    animation: slidein 1s linear infinite ;
    width: 30px;
    
}
@keyframes slidein {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(0px, 10px);
    }
  }
